<style>
	.selected_oi {
		background-color: #E6EEEF!important;
	}
	
	#rendrTable_doorinvent table tbody tr td input {
		-moz-user-select: none;
		-webkit-user-select: none
	}
	
	.doorinvent_th {
		color: #000;
		font-weight: bold;
		padding-bottom: 5px;
		padding-top: 5px;
		text-align: center;
		background-color: #99ccff;
		border: 1px solid #c0c0c0!important;
	}
	
	.doorinvent_td {
		border: 1px solid #c0c0c0;
		text-align: center;
	}
	
	.disable {
		width: 100%;
		cursor: pointer;
		margin-left: -3px !important;
		border: none !important;
		background: none !important;
		text-align: center;
		height: 100%;
	}
	
	.disableView {
		cursor: pointer;
		border: none;
		background: none;
		width: 120px;
		color: red;
	}
	
	.disableView {
		cursor: pointer;
		border: none;
		background: none;
		width: 120px;
		color: red;
	}
	
	.viewBox {
		display: inline-block;
		height: 22px;
		margin-left: 20px;
		margin-top: 0px;
	}
	
	.viewBox label {
		line-height: 26px;
	}
	
	.borde {
		float: left;
		height: 8px;
		display: inline-block;
		margin: 7px auto auto 10px;
		border: 0.1px solid #D8D8D8;
	}
	
	.headbutton {
		float: left;
		background: none;
		display: inline-block;
		margin: auto 15px auto 15px;
		height: 26px;
		overflow: hidden;
	}
	
	.headbutton span {
		background: none;
		height: 26px;
		display: inline-block;
		margin-left: 5px;
	}
	
	.headbutton:hover {
		background: url(themes/default/images/button/button_s.png) no-repeat 0 -100px;
	}
	
	.headbutton:hover span {
		background: url(themes/default/images/button/button_s.png) no-repeat 100% -150px;
		;
	}
	
	.nav1 {
		display: inline-block;
		height: 21px;
		line-height: 26px;
		font-style: normal;
		display: inline-block;
		padding-right: 5px;
	}
	
	.get_sum {
		color: red;
		background-color: #ccffcc;
	}
</style>
<div class="pageHeader" style="overflow: hidden;">
	<a class="headbutton" id="save4"><span><i class="nav1" style="background: url(public/initialStage/images/alllicon.png) no-repeat 0px 4px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存刷新</i></span></a>
	<div class="borde"></div>
	<div class="viewBox"><label>选中项内容：</label><input type="text" disabled="disabled" value="" id="tdView_doorinvent" class="disableView" /></div>
</div>
</div>
<div class="pageContent" id="rendrTable_doorinvent" style="width:90%; margin-top:1%;margin-left: 5%;"></div>
<script type="text/x-jsrender" id="tableContent_doorinvent">
	<table class="table" id="table_doorinvent" width="100%" layoutH="140">
		<thead class="fixhead">
			<tr>
				{{for data[0].tr}}
				<td class="doorinvent_th" rowspan="{{:rowspan}}" colspan="{{:colspan}}">{{:value}}</td>
				{{/for}}
			</tr>
			<tr>
				{{for data[1].tr}}
				<td class="doorinvent_th" rowspan="{{:rowspan}}" colspan="{{:colspan}}">{{:value}}</td>
				{{/for}}
			</tr>
			<tr>
				{{for data[2].tr}}
				<td class="doorinvent_th" rowspan="{{:rowspan}}" colspan="{{:colspan}}">{{:value}}</td>
				{{/for}}
			</tr>
			<tr>
				{{for data[3].tr}} {{if #getIndex()>10}}
				<td class="doorinvent_th" rowspan="{{:rowspan}}" colspan="{{:colspan}}" style="color: red;background-color: #ccffcc;">{{:value}}</td>
				{{else}}
				<td class="doorinvent_th get_sum" rowspan="{{:rowspan}}" colspan="{{:colspan}}">{{:value}}</td>
				{{/if}} {{/for}}
			</tr>
		</thead>
		<tbody>
			{{for data}} {{if #getIndex()==4}}
			<tr name="{{:#getIndex()}}">
				{{for tr}} {{if dataType==0}}
				<td class="doorinvent_td" colspan="{{:colspan}}" rowspan="{{:rowspan}}" style="background-color:#ccffff;" onclick="canntEdit_door($(this))">{{:value}}</td>
				{{else}}
				<td name="{{:#getIndex()}}" class="doorinvent_td" colspan="{{:colspan}}" rowspan="{{:rowspan}}" style="background-color: #ffffff;" onclick="edit1_FDMKC($(this))" onmousemove="deal_mousemove($(this), 'rendrTable_doorinvent')" ondblclick="selected_line( 'rendrTable_doorinvent',$(this))">
					<input type="text" class="disable" value="{{:value}}" onblur="blurset_doorinvent($(this))" onkeyup="checkFloat($(this))" onpaste="pasteV($(this), 'rendrTable_doorinvent')" onmouseup="deal_mouseup($(this))" onmousedown="deal_mousedown(event,$(this))" />
				</td>
				{{/if}} {{/for}}
			</tr>
			{{/if}} {{if (#getIndex()>3)&&(#getIndex()!=4)}}
			<tr name="{{:#getIndex()}}">
				{{for tr}} {{if dataType==0}}
				<td class="doorinvent_td" colspan="{{:colspan}}" rowspan="{{:rowspan}}" style="background-color:#ccffff;" onclick="canntEdit_door($(this))">{{:value}}</td>
				{{else}}
				<td name="{{:#getIndex()}}" class="doorinvent_td" colspan="{{:colspan}}" rowspan="{{:rowspan}}" style="background-color: #ffffff;" onclick="edit1_FDMKC($(this))" onmousemove="deal_mousemove($(this), 'rendrTable_doorinvent')">
					<input type="text" class="disable" value="{{:value}}" onblur="blurset_doorinvent($(this))" onkeyup="checkFloat($(this))" onpaste="pasteV($(this), 'rendrTable_doorinvent')" onmouseup="deal_mouseup($(this))" onmousedown="deal_mousedown(event,$(this))" />
				</td>
				{{/if}} {{/for}}
			</tr>
			{{/if}} {{/for}}
		</tbody>
	</table>
</script>
<script src="js/publicjs/common.js"></script>
<script type="text/javascript">
	$(function() {
		document.body.onselectstart = function() {
			return false;
		} //关闭IE中的文字选中，使其支持拖拽选中
		flag_enter_FDMKC = false;
		type_FDMKC = 111;
		down_fdmkc = 0; //光标下移
		up_fdmkc = 1; //光标上移
		right_fdmkc = 2; //光标右移
		left_fdmkc = 3; //光标左移
		authorize_export();
		get_doorinvent();
		$("#save4").click(function() {
			if($(".errorData4").length) {
				alertMsg.warn("请检查红框数据后再提交");
				return;
			}
			post_doorinvent();
		})
		//		alertMsg.info("请注意 ---齐河与成都--- 防盗门库存表的区别来进行填写!");
		var alert_str = '<div id="alertMsgBoxUp" class="alert">';
		alert_str += '<div class="alertContent">';
		alert_str += '<div class="info">';
		alert_str += '<div class="alertInner">';
		alert_str += '<h1>提示</h1>';
		alert_str += '<div class="msg">请注意 ---齐河与成都--- 防盗门库存表的区别来进行填写!</div>';
		alert_str += '</div>';
		alert_str += '<div class="toolBar"><ul>';
		alert_str += '<li><a class="button" rel="" onclick="alertClose()" href="javascript:"><span>确定</span></a></li>';
		alert_str += '</ul></div></div></div>';
		alert_str += '<div class="alertFooter"><div class="alertFooter_r"><div class="alertFooter_c"></div></div></div>';
		$("body").append(alert_str);
		$("#alertMsgBoxUp").css("top", "-500px");
		$("#alertMsgBoxUp").animate({
			"top": "0"
		}, 900);
	});
	//获取默认数据
	function blurset_doorinvent(obj) {
		var min_col;
		var min_row;
		obj.parent().css({
			"border": "none",
			"border-right": "1px solid #C0C0C0",
			"border-bottom": "1px solid #c0c0c0"
		});
		if(!obj.val()) {
			obj.val(0);
			return false;
		}
		var int_replace_res = obj.val().replace(/^-?[1-9]\d*|0$/, "");
		if(int_replace_res) {
			var float_replace_res = obj.val().replace(/^-?([1-9]\d*\.\d*|0\.\d*[1-9]\d*|0?\.0+|0)$/, "");
			if(float_replace_res) {
				obj.addClass("errorData4");
				obj.parent().css({
					"border": "2px solid red"
				});
				return;
			}
		}
		obj.removeClass("errorData4");
		var rowcode = parseInt(obj.parent().parent().attr("name"));
		var colcode = parseInt(obj.parent().attr("name"));
		data_doorinvent.data[rowcode].tr[colcode].value = parseFloat(obj.val());
		min_row_FDMKC = 4;
		///查找下一行开始的第一个可编辑单元格
		var flag = 0;
		var now_col = colcode;
		obj.removeClass("selectedIput_FDMKC");
		if(flag_enter_FDMKC) {
			if(type_FDMKC == down_fdmkc) {
				flag_enter_FDMKC = false;
				for(var findin = rowcode + 1; findin < data_doorinvent.data.length; findin++) { //查找下一行开始的第一个可编辑单元格
					var chayi = data_doorinvent.data[findin].tr.length - data_doorinvent.data[findin - 1].tr.length;
					now_col = now_col + chayi;
					if($("#rendrTable_doorinvent table tbody").children("tr[name=" + findin + "]").children("td[name=" + now_col + "]").children("input").length > 0) {
						flag = 1;
						$("#rendrTable_doorinvent table tbody").children("tr[name=" + findin + "]").children("td[name=" + now_col + "]").trigger("click");
						return true;
					}
				} //for findin
				if(!flag) { //不存在可编辑的下一行了,就去可编辑的第一行（下面简称第一行）下一列
					//一直第一行查找下一列，直到存在可编辑
					var flagcol = 0;
					for(var findcol = colcode; findcol < data_doorinvent.data[min_row_FDMKC].tr.length; findcol++) {
						var temp = findcol + 1;
						if($("#rendrTable_doorinvent table tbody").children("tr[name=" + min_row_FDMKC + "]").children("td[name=" + temp + "]").children("input").length > 0) {
							flagcol = 1;
							$("#rendrTable_doorinvent table tbody").children("tr[name=" + min_row_FDMKC + "]").children("td[name=" + temp + "]").trigger("click");
							return true;
						}
					}
					if(!flagcol) { //没有找到从现在开始的下一列，就去第一行第一列
						for(var findcol = 0; findcol < data_doorinvent.data[min_row_FDMKC].tr.length; findcol++) {
							var temp = findcol + 1;
							if($("#rendrTable_doorinvent table tbody").children("tr[name=" + min_row_FDMKC + "]").children("td[name=" + temp + "]").children("input").length > 0) {
								$("#rendrTable_doorinvent table tbody").children("tr[name=" + min_row_FDMKC + "]").children("td[name=" + temp + "]").trigger("click");
								return true;
							}
						}
					}
				} //if flag

			} //if down
			else if(type_FDMKC == up_fdmkc) {
				flag_enter_FDMKC = false;
				for(var findin = rowcode - 1; findin >= min_row_FDMKC; findin--) { //从下往上查找上一行开始的第一个可编辑单元格
					var chayi = data_doorinvent.data[findin].tr.length - data_doorinvent.data[findin + 1].tr.length;
					now_col = now_col + chayi;
					if($("#rendrTable_doorinvent table tbody").children("tr[name=" + findin + "]").children("td[name=" + now_col + "]").children("input").length > 0) {
						flag = 1;
						$("#rendrTable_doorinvent table tbody").children("tr[name=" + findin + "]").children("td[name=" + now_col + "]").trigger("click");
						return true;
					}
				}
				if(!flag) { //不存在可编辑的上一行了,就去上一列的可编辑的最后一行（下面简称第一行）
					var flagcol = 0;
					var max_row_FDMKC;
					//查找最大可编辑行
					for(var i = data_doorinvent.data.length - 1; i >= min_row_FDMKC; i--) { //从下往上查找
						for(var j = 0; j < data_doorinvent.data[i].tr.length; j++) { //从左往右查找
							if($("#rendrTable_doorinvent table tbody").children("tr[name=" + i + "]").children("td[name=" + j + "]").children("input").length > 0) {
								//该行存在可编辑
								max_row_FDMKC = i;
								break;
							}
						}
						if(max_row_FDMKC) {
							break;
						}
					}
					//在最后一个行查找可编辑的上一列，直到存在可编辑
					for(var findcol = colcode - 1; findcol > 0; findcol--) {
						if($("#rendrTable_doorinvent table tbody").children("tr[name=" + max_row_FDMKC + "]").children("td[name=" + findcol + "]").children("input").length > 0) {
							flagcol = 1;
							$("#rendrTable_doorinvent table tbody").children("tr[name=" + max_row_FDMKC + "]").children("td[name=" + findcol + "]").trigger("click");
							return true;
						}
					}
					if(!flagcol) { //没有找到从现在开始的下一列，就去第最后行第最后一列
						for(var findcol = data_doorinvent.data[max_row_FDMKC].tr.length - 1; findcol > 0; findcol--) {
							if($("#rendrTable_doorinvent table tbody").children("tr[name=" + max_row_FDMKC + "]").children("td[name=" + findcol + "]").children("input").length > 0) {
								$("#rendrTable_doorinvent table tbody").children("tr[name=" + max_row_FDMKC + "]").children("td[name=" + findcol + "]").trigger("click");
								return true;
							}
						}
					}
				} //if flag
			} //if up
			else if(type_FDMKC == right_fdmkc) { //右移键
				flag_enter_FDMKC = false;
				for(var findcol = colcode + 1; findcol <= data_doorinvent.data[rowcode].tr.length; findcol++) {
					//从左往右查找下一列开始的第一个可编辑单元格
					if($("#rendrTable_doorinvent table tbody").children("tr[name=" + rowcode + "]").children("td[name=" + findcol + "]").children("input").length > 0) {
						flag = 1;
						$("#rendrTable_doorinvent table tbody").children("tr[name=" + rowcode + "]").children("td[name=" + findcol + "]").trigger("click");
						return true;
					}
				}
				if(!flag) { //在本行未找到，从下一行的第一列开始查找
					var flagcol = 0;
					for(var findin = rowcode + 1; findin < data_doorinvent.data.length; findin++) {
						//从上往下查找
						for(var findcol = 0; findcol < data_doorinvent.data[findin].tr.length; findcol++) {
							if($("#rendrTable_doorinvent table tbody").children("tr[name=" + findin + "]").children("td[name=" + findcol + "]").children("input").length > 0) {
								flagcol = 1;
								$("#rendrTable_doorinvent table tbody").children("tr[name=" + findin + "]").children("td[name=" + findcol + "]").trigger("click");
								return true;
							}
						}
					}
					if(!flagcol) { //在下面的数据行里已经没有可编辑，跳到左上角的第一个可编辑框
						for(var find = 0; find < data_doorinvent.data[min_row_FDMKC].tr.length; find++) {
							if($("#rendrTable_doorinvent table tbody").children("tr[name=" + min_row_FDMKC + "]").children("td[name=" + find + "]").children("input").length > 0) {
								$("#rendrTable_doorinvent table tbody").children("tr[name=" + min_row_FDMKC + "]").children("td[name=" + find + "]").trigger("click");
								return true;
							}
						}
					}
				} // flag
			} //right
			else if(type_FDMKC == left_fdmkc) { //左移键
				flag_enter_FDMKC = false;
				for(var leftcol = colcode - 1; leftcol >= 0; leftcol--) {
					//从右往左查找下一列开始的第一个可编辑单元格
					if($("#rendrTable_doorinvent table tbody").children("tr[name=" + rowcode + "]").children("td[name=" + leftcol + "]").children("input").length > 0) {
						flag = 1;
						$("#rendrTable_doorinvent table tbody").children("tr[name=" + rowcode + "]").children("td[name=" + leftcol + "]").trigger("click");
						return true;
					}
				}
				if(!flag) { //在本行未找到，从上一行的最后列开始查找
					var flagcol = 0;
					for(var findin = rowcode - 1; findin >= min_row_FDMKC; findin--) {
						//从下往上查找
						for(var findcol = data_doorinvent.data[findin].tr.length - 1; findcol > 0; findcol--) {
							if($("#rendrTable_doorinvent table tbody").children("tr[name=" + findin + "]").children("td[name=" + findcol + "]").children("input").length > 0) {
								flagcol = 1;
								$("#rendrTable_doorinvent table tbody").children("tr[name=" + findin + "]").children("td[name=" + findcol + "]").trigger("click");
								return true;
							}
						}
					}
					if(!flagcol) { //在上面的数据行里已经没有可编辑，跳到右下角的最后可编辑框
						var max_row_FDMKC;
						//查找最大可编辑行
						for(var i = data_doorinvent.data.length - 1; i >= min_row_FDMKC; i--) { //从下往上查找
							for(var j = 0; j < data_doorinvent.data[i].tr.length; j++) { //从左往右查找
								if($("#rendrTable_doorinvent table tbody").children("tr[name=" + i + "]").children("td[name=" + j + "]").children("input").length > 0) {
									//该行存在可编辑
									max_row_FDMKC = i;
									break;
								}
							}
							if(max_row_FDMKC) {
								break;
							}
						}
						for(var findleft = data_doorinvent.data[max_row_FDMKC].tr.length - 1; findleft > 0; findleft--) {
							if($("#rendrTable_doorinvent table tbody").children("tr[name=" + max_row_FDMKC + "]").children("td[name=" + findleft + "]").children("input").length > 0) {
								$("#rendrTable_doorinvent table tbody").children("tr[name=" + max_row_FDMKC + "]").children("td[name=" + findleft + "]").trigger("click");
								return true;
							}
						}
					}
				} // flag
			} //left
			else {
				flag_enter_FDMKC = false;
			}
		}

	};
	//对输入框的值进行编辑时的UI效果显示
	function edit1_FDMKC(obj) {
		$("#tdView_doorinvent").val(obj.children().val());
		obj.children().select();
		if(obj.children().val() == 0) {
			obj.children().val("");
		}
		obj.children().addClass("selectedIput_FDMKC");
		if($(".selectedIput_FDMKC").length > 1) {
			$(".selectedIput_FDMKC").each(function() {
				$(this).removeClass("selectedIput_FDMKC");
			})
			obj.children().addClass("selectedIput_FDMKC");
		}
		obj.css("border", "2px solid #000");
	};
	//去空
	function canntEdit_door(obj) {
		$("#tdView_doorinvent").val(obj.text().replace(/\s*/, ""));
	};
	//获取默认数据
	function get_doorinvent() {
		$.ajax({
			type: "get",
			url: URL + "FDMKC/search/token/" + token,
			async: false,
			dataType: "json",
			success: function(data) {
				data_doorinvent = data;
				var tableContent = $("#tableContent_doorinvent").render(data);
				$("#rendrTable_doorinvent").append(tableContent);
			},
			error: function(XMLHttpRequest, textStatus, errorThrown, data) {
				alertMsg.warn(errorThrown);
			}
		});
	};
	//保存
	function post_doorinvent() {
		$.ajax({
			type: "post",
			url: URL + "FDMKC/submit/token/" + token,
			async: true,
			dataType: 'json',
			data: JSON.stringify(data_doorinvent),
			success: function(data) {
				navTab._reload(navTab._getTab("w_table4"), true);
				alertMsg.warn(data.resultmsg);
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				alertMsg.warn(errorThrown);
			}
		});
	}
	$("#rendrTable_doorinvent").bind("keydown", function(event) {
		var code = event.which || event.keyCode;;
		if(code == "13") { //enter键
			if($(".selectedIput_FDMKC").length > 0) {
				flag_enter_FDMKC = true;
				type_FDMKC = down_fdmkc;
				$(".selectedIput_FDMKC").blur();
			}
		} else if(code == "40") //down键
		{
			if($(".selectedIput_FDMKC").length > 0) {
				flag_enter_FDMKC = true;
				type_FDMKC = down_fdmkc;
				$(".selectedIput_FDMKC").blur();
			}
		} else if(code == "38") //up键
		{
			if($(".selectedIput_FDMKC").length > 0) {
				flag_enter_FDMKC = true;
				type_FDMKC = up_fdmkc;
				$(".selectedIput_FDMKC").blur();
			}
		} else if(code == "39") //right键
		{
			if($(".selectedIput_FDMKC").length > 0) {
				flag_enter_FDMKC = true;
				type_FDMKC = right_fdmkc;
				$(".selectedIput_FDMKC").blur();
			}
		} else if(code == "37") //left键
		{
			if($(".selectedIput_FDMKC").length > 0) {
				flag_enter_FDMKC = true;
				type_FDMKC = left_fdmkc;
				$(".selectedIput_FDMKC").blur();
			}
		} else {
			flag_enter_FDMKC = false;
		}
	});
</script>