
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0,maximum-scale=2.8, user-scalable=yes">
		<title>销售日报录入-总结</title>
		<style>
			.table_Bus{
				border-color: lightgray;
			}
			.table_Bus td{
				padding:3px;
				text-align: center;
				border-color: lightgray;
				white-space:nowrap;
			}
			.violet	{
				background-color: #ffccff;
			}	
			.redFont{
				color: red;
			}	
			.green{
				background-color: #ccffff;
			}
			#contain_Bus table {
				width: 100%;
				margin-top: 1% auto auto 0;
			}
		</style>
	</head>
	<body>
		<div id="contain_Bus"></div>
		<!--访问此页面的连接结构为 input-dailysale/xsrblrtj.html?token=登录时候后台返回的值&&flag=现金业务1商品业务0-->
		<!--访问此页面的连接结构为 input-dailysale/xsrblrtj.html?token=登录时候后台返回的值&&flag=现金业务1商品业务0-->
		<!--访问此页面的连接结构为 input-dailysale/xsrblrtj.html?token=登录时候后台返回的值&&flag=现金业务1商品业务0-->
		<script type="text/x-jsrender" id="str_Bus1">
			<table class="table_Bus" border="1" cellpadding="0" cellspacing="0">
				    <tr class="tr_Bus">
				    	{{for data[0].tr}}
							<td class="green" rowspan="{{:rowspan}}" colspan="{{:colspan}}" >{{:value}}</td>
				    	{{/for}}
				    </tr>
				{{for data}}
					{{if tr[0].dataType=="6"&&tr[0].type!=="商品业务"}}
						<tr class="tr_Bus">
							{{for tr}}
								<td  rowspan="{{:rowspan}}" colspan="{{:colspan}}" >{{:value}}</td>
							{{/for}}
						</tr>		
					{{/if}}
				{{/for}}
			</table>
		</script>
		<script type="text/x-jsrender" id="str_Bus0">
			<table class="table_Bus" border="1" cellpadding="0" cellspacing="0">
				<tr class="tr_Bus">
				    	{{for data[0].tr}}
							<td class="green" rowspan="{{:rowspan}}" colspan="{{:colspan}}" >{{:value}}</td>
				    	{{/for}}
				</tr>
				{{for data}}
					{{if tr[0].dataType=="6"&&tr[0].type=="商品业务"}}
						<tr class="tr_Bus">
							{{for tr}}
									<td  rowspan="{{:rowspan}}" colspan="{{:colspan}}" >{{:value}}</td>
							{{/for}}
						</tr>		
					{{/if}}
				{{/for}}
			</table>
		</script>
	</body>
		<script src="js/jquery.min.js"></script>
		<script src="js/jsrender.js"></script>
		<script src="js/common.js"></script>
		<script type="text/javascript">
		$(function(){
			get_Bus();
		})
		function get_Bus(){
			var token=getRequestParam("token");
			$.ajax({
				type:"get",
				url:URL+"XSRBLR/search/token/"+token,
				async:false,
				dataType:'json',
				success:function(data){
					$("#contain_Bus").html("");
					var flag_Bus=getRequestParam("flag");
			        if(flag_Bus=="1"){
					var str_Bus=$("#str_Bus1").render(data);
					}
			        else {
					var str_Bus=$("#str_Bus0").render(data);
			        }
					$("#contain_Bus").append(str_Bus);
					configure_css();
				},
				error: function(XMLHttpRequest, textStatus, errorThrown, data) {
					alert(errorThrown);
				}
			});
	}
	function configure_css(){
     $(".table_Bus tr").each(function(){//行循环
     	$(this).children("td").each(function(){
     		if(isNaN($(this).text())){
     			$(this).addClass("violet");
     		}
     		else{
     			$(this).addClass("redFont");
     		}
     	})
     })
	}
		</script>
</html>
